node_modules
.next
.pytest_cache
npm-debug.log
.env
.env.*
*.log
storage
tmp
backup
deploy
backend
frontend
proposal
stitch
SPBE DATIIN
*.docx
*.xlsx
*.pdf
*.zip
*.tgz
*.tar.gz
.git
.gitignore
*.md
sql
database
src/data/generated/*
!src/data/generated/wilayah-resmi-kemendagri.json
src/Foto/*
!src/Foto/Dinkes.png
